* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginPage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 1400px;
  height: 753px;
  background: #ffffff;
}

.loginPageInside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0;
  width: 1400px;
  height: 753px;
}

.sideLeft {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 700px;
  height: 753px;
}

.img1 {
  width: 700px;
  height: 753px;
}

.sideRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 700px;
  height: 753px;
}

.containerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 376px;
  height: 526px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 376px;
  height: 42px;
}

.header h4 {
  width: 376px;
  height: 42px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 123.5%;
  color: rgba(0, 0, 0, 0.87);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 376px;
  height: 220px;
  margin-top: 66px;
}

.boxInpEmail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
  width: 376px;
  height: 102px;
  background: #ffffff;
}

.labelEmail {
  width: 376px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
}

.fieldInpEmail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 3px;
  width: 376px;
  height: 50px;
}

.inpEmail {
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  width: 376px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.helpTextEmail {
  width: 376px;
  height: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #d32f2f;
}

.boxInpPassword {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
  width: 376px;
  height: 102px;
  background: #ffffff;
}

.labelPassword {
  width: 376px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
}

.fieldInpPassword {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 3px;
  width: 376px;
  height: 73px;
}

.inpPassword {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  width: 376px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.helpTextPassword {
  width: 376px;
  height: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #d32f2f;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  width: 376px;
  height: 20px;
  background: #ffffff;
}

.forgotPasswordText {
  width: 101px;
  height: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: right;
  letter-spacing: -0.04px;
  color: #3949ab;
  cursor: pointer;
}

.btnLogin {
  width: 376px;
  height: 50px;
  background: #66bb6a;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btnLogin span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.textRegister {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 376px;
  height: 24px;
}

.textRegister span {
  width: 376px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.04px;
  color: rgba(0, 0, 0, 0.87);
}

.btnSignUp {
  width: 376px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #9ccc65;
  cursor: pointer;
  border-radius: 5px;
}

.btnSignUp span {
  width: 376px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.04px;
  color: #9ccc65;
}
